* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.color {
    background-color: rgb(53, 53, 180);
    background-position: center;
}

/*_--------
   option
 ---------  */

div>ul>li a {
    text-decoration: none;
    padding-left: 40px;
    padding-top: 8%;
    color: white;
}

div>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 8%;

}

.btn {
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: bold;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 35px;
    border: 2px solid transparent;
    transition: .4s;

}

.btn:hover {
    transform: scale(1.2);
}

/*-----------
  Front page
  -------------  */
section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.football-front {
    display: flex;
}

.football-title {
    font-weight: 700;
    justify-content: center;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 10%;
    color: white;

}

.front-pic {
    width: 556px;
    height: 438px;
    padding-left: 0%;

}

/*--------------------
    players Section 
    -------------------- */

.all-players {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-row-gap: 40px;
    /* grid-column-gap: 20px; */
    padding-top: 70px;
    padding-left: 30px;
    background-color: white;
    justify-items: center;
    margin: 20px;


}

.player {
    border: 2px solid gray;
    width: 330px;
    height: 470px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}

.name {
    font-weight: 700;
    font-size: 28px;
    text-align: left;
    padding: 0px 5px 10px 15px;
}

.info {
    flex-wrap: nowrap;

}

.player img {
    width: 300px;
    height: 256px;
    padding: 10px;
}

/* highlight section 
--------------- */
.world-2018 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.highlight {
    font-size: 50px;
}

.im2018 img {
    width: 560px;
    height: 425px;
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-top: 130px;
}

footer img {
    text-align: center;
    width: 483px;
    height: 110px;
}

.footer-img img {
    width: 40px;
    height: 22px;

}

footer p {
    padding-top: 20px;
    text-decoration: none;
    font-weight: 700;
}

span.copyright {
    color: red;
}

/* Media Secticon */
@media only screen (max-width:688px; ) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .all-players {
        grid-template-columns: repeat(1, 9fr);
    }

}